html,
body {
  height: 100%;
  font-family: Arial;
}

h1 {
  text-align: center;
}

#vis-container {
  display: flex;
  margin: 0 15%;
}

#boston-map {
  height: 98vh;
  width: 50%;
  border: 1px solid black;
  margin: auto;
  background-color: #add8e6;
}

.info-col {
  width: 50%;
}

#day-container {
  display: flex;
  height: fit-content;
  justify-content: center;
}

#meta-container {
  display: flex;
  height: 50vh;
  justify-content: center;
}

#select-text {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#controls {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 0;
}

#selected-station-name {
  display: inline;
  font-weight: bold;
}

#min-trip-prefix {
  display: inline;
}

.tooltip {
  z-index: 100;
  position: absolute;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  max-width: 300px;
}

.tooltip__header {
  font-weight: bold;
  margin: 0;
  color: blue;
}

.tooltip__content {
  margin: 0;
}

.tooltip__highlight {
  font-weight: bold;
}

.filled {
  fill: url(#mainGradient);
}

.textbox {
  margin: auto;
  max-width: 900px;
}

.no-events {
  pointer-events: none;
}

.no-display {
  display: none !important;
}
